.sale_image{
    height: 22vw;
    width: 100%;
    /* mask-image: linear-gradient(to bottom, rgb(0,0,0,0.9), rgb(0,0,0,0));
    margin-bottom: -80px;  */
}
h2{
    margin-left: 3.2vw;
    font-size: 2vw;
}
.full_home{
    background: rgb(234, 237, 237);
}